<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Recipe</title>
</head>
<body>
<h1>Create Recipe</h1>
<form action="/Recipe/create" method="POST">
    <label for="name">Recipe Name:</label>
    <input type="text" id="name" name="name" required><br><br>

    <label for="description">Description:</label>
    <textarea id="description" name="description" required></textarea><br><br>

    <label for="minutes">Minutes:</label>
    <input type="number" id="minutes" name="minutes" required><br><br>

    <label for="preparation">Preparation:</label>
    <textarea id="preparation" name="preparation" required></textarea><br><br>

    <label for="ingredients">Select Ingredients:</label><br>
    <select id="ingredients" name="ingredients" multiple required>
        <!-- Aquí se llenará la lista de ingredientes obtenidos del backend -->
        <option th:each="ingredient : ${ingredients}" th:value="${ingredient.idIngredient}" th:text="${ingredient.name}"></option>
    </select><br><br>

    <button type="submit">Create Recipe</button>
</form>
</body>
</html>
