<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingredients List</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-5">
<h1 class="text-center">List of Ingredients</h1>
<table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Unit</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ingredient : ${ingredients}">
        <td th:text="${ingredient.idIngredient}"></td>
        <td th:text="${ingredient.name}"></td>
        <td th:text="${ingredient.quantity}"></td>
        <td th:text="${ingredient.unit}"></td>
        <td th:text="${ingredient.status}"></td>
        <td>
            <a th:href="@{/Ingredient/updateForm(id=${ingredient.idIngredient})}" class="btn btn-sm btn-info">Edit</a>
            <a th:href="@{/Ingredient/statusForm(id=${ingredient.idIngredient})}" class="btn btn-sm btn-warning">Update Status</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>

