<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Ingredient</title>
</head>
<body>
<h1>Update Ingredient</h1>
<form action="/Ingredient/update" method="POST">
    <input type="hidden" name="_method" value="PUT">

    <label for="idIngredient">Ingredient ID:</label>
    <input type="number" id="idIngredient" name="idIngredient" required><br><br>

    <label for="name">Ingredient Name:</label>
    <input type="text" id="name" name="name"><br><br>

    <label for="quantity">Quantity:</label>
    <input type="number" id="quantity" name="quantity"><br><br>

    <label for="unit">Unit:</label>
    <select id="unit" name="unit">
        <option value="" disabled selected>Select a unit</option>
        <option value="kg">Kilograms (kg)</option>
        <option value="lt">Liters (lt)</option>
    </select><br><br>
    <button type="submit">Update Ingredient</button>
</form>
</body>
</html>
